<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />

        <add key="NexusForever-Rework" value="https://pkgs.dev.azure.com/NexusForever/NexusForever/_packaging/NexusForever-Rework/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    </packageSources>
</configuration>